@use 'colors';

* {
  font-family: colors.$font;
  font-size: 14px;
}

:root {
    background-color: colors.$background;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;

  margin: 4px 15%;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  color: colors.$text;

  .header__logo {
    font-weight: 700;
  }
  .header__pathname {
    color: colors.$text--muted;
  }

  .header__nav {
    a {
      padding-left: 12px;
      font-weight: 600;
    }
  }

  a {
    color: inherit;
  }
}

.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}