APP_HOST=app_url
APP_URL=https://app_url

# Postgres
POSTGRES_HOST="db"
POSTGRES_PORT=5432
POSTGRES_DB="syncpasta_db"
POSTGRES_USER="syncpasta_admin"
POSTGRES_PASSWORD="syncpasta_password"

# Firebase
FIREBASE_TYPE=""
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_CLIENT_ID=""
FIREBASE_AUTH_URI=""
FIREBASE_TOKEN_URI=""
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=""
FIREBASE_CLIENT_X509_CERT_URL=""
FIREBASE_UNIVERSE_DOMAIN=""
FIREBASE_EMULATOR_HOST="localhost:9099"

# S3
S3_ENDPOINT="http://s3:9000"
S3_ACCESS_KEY_ID="minioadmin"
S3_SECRET_ACCESS_KEY="minioadmin"
S3_BUCKET_NAME="syncpasta"

# CLOUDFLARED
CLOUDFLARED_TOKEN=""
