@use "@styles/colors";

.pasta {
  background: colors.$surface-1;
  padding-block: 0.75rem;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  box-shadow: colors.$shadow;

  display: flex;
  flex-direction: column;

  max-width: 256px;

  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;

  margin-bottom: 1rem;

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__media {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: contain;
  }
}