@use '@styles/colors';

$timeline: colors.$text--muted;

.timeline {
  color: $timeline;
  overflow: scroll;
  max-height: 80vh;

  &__item {
    display: flex;
    flex-direction: column;

    padding-bottom: 0.5rem;

    &:last-child {
      padding-bottom: 0;
    }

    &__date::before {
      content: "│";
    }
    &__content::before {
      content: "└─ ";
    }
  }
}