@use '@styles/colors';

.input__container {
  display: flex;
  flex-direction: column;

  background: colors.$surface-2;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
  outline: 1px solid colors.$background;
  box-shadow: colors.$shadow;
  transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;

  &--disabled {
    cursor: not-allowed;
    filter: brightness(60%);
  }

  &:hover {
    background: colors.$surface-3;
    outline: 1px solid colors.$accent--hover;
  }
  &:focus {
    background: colors.$surface-1;
    outline: 1px solid colors.$accent;
  }

  .input__title {
    font-size: 13px;
    color: colors.$text--muted;
  }

  .input {
    &[disabled] {
      cursor: not-allowed;
    }
    border: none;
    outline: none;
    cursor: text;
    padding: 4px 0;

    background: transparent;
    color: colors.$text;
  }
}